
@{
    ViewBag.Title = "OnGoingView";
    Layout = "~/Views/MasterPage.cshtml";

    int PerfilInterior = Convert.ToInt32(Session["PerfilInterior"]);
    int Perfil = Convert.ToInt32(Session["Perfil"]);

    //    string Usuario = Session["User"].ToString().ToUpper();
}


<!DOCTYPE html>
<html>
<head>
    <style>
        #infoWindow {
            width: 1000px;
            /*border-left: 105px;
            border-spacing: 10px 5px;
            height:300px;*/
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmFthGxyCA9bKVIfiTXuRCEYls3hpm6Zs"></script>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
    <!-- <meta charset="utf-8" /> -->
    <title>@ViewBag.Title</title>

</head>
<body>

    <!--Inicio Modal de Servicios-->

    <div class="col-sm-12">
        <div class="x_panel" align="center">
            <div class="x_title">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 align="left" class="tr" key="serviciosONGOING">SERVICIOS ON GOING</h4>
                    </div>
                </div>
            </div>
            <div id="pestanas" align="right">
                <ul id=lista class="nav nav-tabs nav-justified">
                    <li id="pestana1" style="background-color:#e2f0fb; font-weight:bold"><a class="tr" key="VistaServicios">&nbsp;&nbsp;VISTA SERVICIOS &nbsp;&nbsp;</a></li>
                    <li id="pestana2"><a class="tr" key="VistaMapa">&nbsp;&nbsp;VISTA MAPA &nbsp;&nbsp;</a></li>
                </ul>
            </div>
            <div id="cpestana1">
                <br>
                <div class="x_panel" style="width: 80%">
                    <div class="row">
                        <h5 class="tr" key="TotalizadorServicios">TOTALIZADOR SERVICIOS</h5>
                        <table id="Tb_Servicios_Totalizador" style="text-align:center" class="table table-striped table-bordered display nowrap">
                            <thead>
                                <tr>
                                    <th id="totalModem" key="totalModem" class="tr"><b>C/MODEM ALMA</b></th>
                                    <th id="totalControlador" key="totalControlador" class="tr"><b>C/CONTROLADOR LIVENTUS</b></th>
                                    <th id="totalCO2" key="totalCO2" class="tr"><b>C/SENSOR CO2 EXT</b></th>
                                    <th id="totalTemp" key="totalTemp" class="tr"><b>C/SENSOR T° EXT</b></th>
                                    <th id="totalLuz" key="totalLuz" class="tr"><b>C/SENSOR APERTURA PUERTA EXT</b></th>
                                    <th id="totalServicios" key="totalServicios" class="tr"><b>TOTAL SERVICIOS ONGOING</b></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <!--<tfoot>
                                <tr>
                                    <th colspan="17" style="text-align: right">MUESTRA TOTAL DE SERVICIOS: <label id="cantidadTotal"></label></th>
                                </tr>
                            </tfoot>-->
                        </table>
                    </div>
                </div>
                <br><br>
                <div class="x_panel">
                    <div class="row">
                        <table id="Tb_Servicios" class="table table-striped table-bordered display nowrap order-column">
                            <!--sorting-->
                            <thead>
                                <tr>
                                    <th class="tr" id="idservicio" key="idservicio">ID SERVICIO <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="alertacalidad">ALERTA DE CALIDAD <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="alertalogistica">ALERTA LOGISTICA <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="detalleservicio">DETALLE <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="contenedorservicio">CONTENEDOR <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="bookingservicio">BOOKING <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="commodityservicio">COMMODITY <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="navieraservicio">NAVIERA <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="naveservicio">NAVE <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="puertoorigenservicio">PUERTO ORIGEN <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="puertodestinoservicio">PUERTO DESTINO <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="etapodservicio">ETA POD <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="setpointacservicio">SETPOINT CO2 <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="setpointservicio">SETPOINT T° <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="modemservicio">C/MODEM ALMA <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="co2externo">C/SENSOR CO2 EXT <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="tempexterna">C/SENSOR T° EXT <i align="right " class="fa fa-fw fa-sort"></i></th>
                                    <th class="tr" key="sensorluz">C/SENSOR APERTURA PUERTA EXT <i align="right " class="fa fa-fw fa-sort"></i></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>
                                        <select class="selectpicker form-control" data-live-search="true" style="width: 30%; height: 400px;" id="TipoAlerta">
                                            <option value="0" selected class="tr">TODAS</option>
                                            <option value="1">CON ALERTA CALIDAD </option>
                                            <option value="3">SIN ALERTA CALIDAD </option>
                                        </select>
                                    </th>
                                    <th>
                                        <select class="selectpicker form-control" data-live-search="true" style="width: 30%; height: 400px;" id="TipoAlerta">
                                            <option value="0" selected class="tr">TODAS</option>
                                            <option value="2">CON ALERTA LOGISTICA </option>
                                            <option value="3">SIN ALERTA LOGISTICA </option>
                                        </select>
                                    </th>
                                    <th></th>
                                    <th class="tr" key="contenedorservicio">CONTENEDOR</th>
                                    <th class="tr" key="bookingservicio">BOOKING</th>
                                    <th class="tr" key="commodityservicio">COMMODITY</th>
                                    <th class="tr" key="navieraservicio">NAVIERA</th>
                                    <th class="tr" key="naveservicio">NAVE</th>
                                    <th class="tr" key="puertoorigenservicio">PUERTO ORIGEN</th>
                                    <th class="tr" key="puertodestinoservicio">PUERTO DESTINO</th>
                                    <th class="tr" key="etapodservicio">ETA POD</th>
                                    <th class="tr" key="setpointacservicio">SETPOINT AC</th>
                                    <th class="tr" key="setpointservicio">SETPOINT TEMPERATURA</th>
                                    <th class="tr" key="modemservicio">MODEM ALMA</th>
                                    <th class="tr" key="co2externo">CO2 EXTERNO</th>
                                    <th class="tr" key="tempexterna">TEMPERATURA EXTERNA</th>
                                    <th class="tr" key="sensorluz">SENSOR APERTURA PUERTA</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="cpestana2" style="display: none">
                <div class="x_panel" id="FiltrosMapaONGOING">
                    <div class="col-lg-12 col-md-3 col-sm-3">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="ListaContenedor" class="tr control-label" key="FiltroContenedor"> Contenedor </label>
                            <select class="selectpicker form-control" data-live-search="true" id="ListaContenedor" width="300px;">
                                <!--<option selected value="0">TODOS</option>-->
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="ListaNaviera" class="tr control-label" key="FiltroNaviera"> Naviera </label>
                            <select class="selectpicker form-control" data-live-search="true" id="ListaNaviera" width="300px;">
                                <!--<option selected value="0">TODAS</option>-->
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="Booking" class="tr control-label" key="FiltroBooking"> Booking </label>
                            <input type="search" class="form-control input-sm" id="Booking" onkeyup="this.value = this.value.toUpperCase();" name="selectbooking">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="ListaNave" class="tr control-label" key="FiltroNave">  Nave </label>
                            <select class="selectpicker form-control" data-live-search="true" id="ListaNave" style="width:100%;">
                                <!--<option selected value="0">TODAS</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-3 col-sm-3">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="ListaPuertoOrigen" class="tr control-label" key="FiltroPuertoOrigen"> Puerto Origen </label>
                            <select class="selectpicker form-control" data-live-search="true" id="ListaPuertoOrigen">
                                <!--<option selected value="0">TODOS</option>-->
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="ListaPuertoDestino" class="tr control-label" key="FiltroPuertoDestino"> Puerto Destino </label>
                            <select class="selectpicker form-control" data-live-search="true" id="ListaPuertoDestino">
                                <!--<option selected value="0">TODOS</option>-->
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3" style="text-align:center">
                            <label for="ListaCommodity" class="tr control-label" key="FiltroCommodity"> Commodity </label>
                            <select class="selectpicker form-control" data-live-search="true" id="ListaCommodity">
                                <!--<option selected value="0">TODOS</option>-->
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="EtaPod" class="tr control-label" key="FiltroETAPOD"> ETA POD </label>
                            <!--  CALENDARIO   -->
                            <input class="selectpicker form-control" type="date" name="EtaPod" id="EtaPod">
                        </div>
                    </div>
                    <!--<div class="col-lg-12 col-md-3 col-sm-3">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="AlertCalidad" class="control-label"> Alerta de Calidad </label>
                            <select class="selectpicker form-control" data-live-search="true" style="width: 30%; height: 400px;" id="TipoAlerta">
                                <option value="0" selected class="tr">TODAS</option>
                                <option value="1">CON ALERTA CALIDAD </option>
                                <option value="3">SIN ALERTA CALIDAD </option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="AlertLogistica" class="control-label"> Alerta de Logistica </label>
                            <select class="selectpicker form-control" data-live-search="true" style="width: 30%; height: 400px;" id="TipoAlerta">
                                <option value="0" selected class="tr">TODAS</option>
                                <option value="2">CON ALERTA LOGISTICA </option>
                                <option value="3">SIN ALERTA LOGISTICA </option>
                            </select>
                        </div>-->
                    <div class="col-lg-12 col-md-6 col-sm-6" style="text-align:center">
                        <br />
                        <button type="button" class="btn btn-primary tr btn-sm" id="FiltroMapa" key="FiltroMapa"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Filtrar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </button>
                        <button type="button" class="btn btn-primary tr btn-sm" id="EliminarFiltros" key="EliminarFiltros"> &nbsp;&nbsp;Eliminar Filtros&nbsp;&nbsp; </button>
                    </div>
                    <div class="row"><br><br><br><br></div>
                </div>

                <div class="x_panel">
                    <br>
                    <!--<div class="row" align="right" style="width:100%;">
                        <label for="Data" class="control-label" align="left">
                            Fuente data:
                            <select class="selectpicker form-control" id="ListaDatas">
                                <option selected value="0">MODEM</option>
                                <option value="1">MARINE TRAFFIC </option>
                            </select>
                        </label>
                    </div>-->
                    <div id="googleMap" style="width:100%;height:500px;border:2px solid #999999;">

                    </div>
                </div>
            </div>
        </div>

        <div class="x_panel">
            <div class="row">
                <i key="PiePagina">
                    <b> <label class="tr" key="AvisoConfidencialidad">Aviso de Confidencialidad: </label> </b>
                    <label class="tr" key="MensajeConfidencialidadOngoing">
                        La información aquí contenida es provista por un sistema de geolocalización. Pueden existir errores o distorsiones de ubicación que no necesariamente impliquen movimientos reales. Mientras la Aplicación Alma® se mantenga en periodo de pruebas, recomendamos validar mediante la utilización de su sistema de tracking habitual. En caso de dudas, solicitar mayor información a su contacto habitual de Liventus S.A.
                        La información aquí contenida es preliminar, obtenida en base a un sistema de interconexión remoto vía 3G, y que puede sufrir modificaciones. Toda la información y los datos que la presente plataforma proporciona tienen carácter meramente informativo. Los autores no se hacen responsables de su exactitud, actualización o validez, y por tanto están exentos de toda responsabilidad derivada de su incorrección, omisión, falta de actualización o retraso, así como de cualquier pérdida, o daño que pudiera causar su uso o exposición por parte de terceros (autorizados o no). Toda la información se proporciona en los términos en que se visualiza, pudiendo no ser exactamente correcta, acertada o definitiva. Cualquier forma no autorizada de distribución, copia, duplicación, reproducción, o venta (total o parcial) del contenido de esta web, tanto para uso personal como comercial, constituirá una infracción de los derechos de propiedad de los autores. El Usuario se compromete a no utilizar cualquiera de los Contenidos que la plataforma ponga a su disposición para desarrollar actividades contrarias a las leyes, a la moral o al orden público y, en general, a hacer un uso conforme a las presentes condiciones generales. En cualquier caso, el usuario se compromete a mantener la estricta confidencialidad de la información técnica a la que pudiera acceder, gestionando su uso de manera interna, y no utilizando dicha información para afectar derechos o fundar reclamos en contra de terceros.    
                    </label>
                </i>
            </div>
        </div>
    </div>
    <!--Modal sin datos [CalidadAlertaRoja] -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-left:80px; margin-right:10px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:50%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel1">Información de gráfico no disponible.</h5>
                </div>
                <div class="modal-body">
                    <h5> Favor contactar con área comercial Liventus </h5>
                </div>
            </div>
        </div>
    </div>
    <!--Modal sin datos-->
    <!--Modal datos [CalidadAlertaAmarilla] -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-left:80px; margin-right:10px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:50%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel2">ALERTA DE CALIDAD</h5>
                </div>
                <div class="modal-body">
                    <h5> Las alertas de CO2 son desencadenadas solo si el 80% de las muestras analizadas en el último día están fuera de rango </h5>
                    <table id="Tb_AlertaCalidad" class="table table-striped table-bordered display nowrap">
                        <thead>
                            <tr>
                                <td class="tr" align="center" key="tipoalerta"><b>TIPO ALERTA</b></td>
                                <td class="tr" align="center" key="fechaalerta"><b>FECHA ALERTA</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td" align="center">CO2 alto</td>
                                <td class="td" align="center">31/07/2019 08:45:00</td>
                            </tr>
                            <tr id="pasado-calidad" style="display:none">
                                <td class="td" align="center">CO2 bajo</td>
                                <td class="td" align="center">30/07/2019 10:23:00</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div id="row"><a href="#" id="ver-ocultar-cal" onclick="myFunctionCalidad()">Ver más ...</a> </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal datos-->
    <!--Modal datos [LogisticaAlertaAmarilla] -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-left:80px; margin-right:10px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:50%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel3">ALERTAS LOGÍSTICAS</h5>
                </div>
                <div class="modal-body">
                    <table id="Tb_AlertaLogistica" class="table table-striped table-bordered display nowrap">
                        <thead>
                            <tr>
                                <td class="tr" align="center" key="tipoalerta"><b>TIPO ALERTA</b></td>
                                <td class="tr" align="center" key="tipoalerta"><b>DETALLE ALERTA</b></td>
                                <td class="tr" align="center" key="fechaalerta"><b>FECHA ALERTA</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td" align="center">Cambio ETA</td>
                                <td class="td" align="center">Retraso de 2 días</td>
                                <td class="td" align="center">30/07/2019 08:45:00</td>
                            </tr>
                            <tr id="pasado-logistica" style="display:none">
                                <td class="td" align="center">Cambio ETA</td>
                                <td class="td" align="center">Retraso de 1 días</td>
                                <td class="td" align="center">25/07/2019 16:45:00</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div id="row"><a href="#" id="ver-ocultar-log" onclick="myFunctionLogistica()">Ver más ...</a> </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal datos-->
    <!--Fin Modal de Servicios-->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1" id="CalidadAlertaRoja" style="display:none;"></button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" id="CalidadAlertaAmarilla" style="display:none;"></button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3" id="LogisticaAlertaAmarilla" style="display:none;"></button>

</body>
</html>

<script src="~/build/js/Perfiles.js"></script>
<script type="text/javascript">



    var lenguaje = getCookie("Lenguaje");

    function ocultoIdServicio() {
        $('#Tb_Servicios thead tr:eq(0) th:eq(0)').hide();
        $('#Tb_Servicios thead tr:eq(1) th:eq(0)').hide();
    }

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: '@Url.Action("SetTrazabilidadVista", "Trazabilidad")',
            dataType: 'json',
            dataSrc: '',
            data: {
                TipoVista: 1,
                NombreVista: 'ONGOINGVIEW'
            }

        });

        cargaMantenedores();

        $('#Tb_Servicios thead tr:eq(1) th:gt(3)').each(function (i) {
            var title = $('#example thead tr:eq(0) th:gt(3)').eq($(this).index()).text();
            $(this).html('<input type="text" class="form-control" data-index="' + i + '"/>');
        });

        if (lenguaje == "es") {
            var table = $("#Tb_Servicios").DataTable({
                orderCellsTop: true,
                fixedColumns: {
                    leftColumns: 4
                },
                scrollX: true,
                pageLength: 15,
                language: {
                    "url": "",
                    "infoThousands": ",",
                    "emptyTable": "No hay datos disponibles en la tabla.",
                    "info": "Del _START_ al _END_ de _TOTAL_ ",
                    "infoEmpty": "Mostrando 0 registros de un total de 0.",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "infoPostFix": "(actualizados)",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "searchPlaceholder": "Dato para buscar",
                    "zeroRecords": "No se han encontrado coincidencias.",
                    "paginate": {
                        "first": "Primera",
                        "last": "Última",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                //dom: '<il<t>pf>',  //'<"wrapper"fltip><"clear">',
                ajax: {
                    metodo: 'POST',
                    url: '@Url.Action("GetServicios", "Servicio")',
                    dataType: 'json',
                    dataSrc: ''
                },
                columns: [
                {
                    data: "IdServicio",
                    className: "hidden"

                },
                {
                    data: null,
                    className: "center",
                    defaultContent: '<i id="OkServicio" class="fa fa-check-square fa-3x" style="color:limegreen"></i>'
                },
                {
                    data: null,
                    className: "center",
                    defaultContent: '<i id="OkServicio" class="fa fa-check-square fa-3x" style="color:limegreen"></i>'
                },
                {
                    //targets: -1,
                    data: null,
                    className: "center",
                    defaultContent: '<i id="DetailServicio" class="fa fa-search fa-2x"></i>'
                },
                { "data": "Contenedor" },
                { "data": "Booking" },
                { "data": "Commodity" },
                { "data": "Naviera" },
                { "data": "Nave" },
                { "data": "PuertoOrigen" },
                { "data": "PuertoDestino" },
                {
                    "data": "EtaPuerto",
                    "render":
                    function (data, type, row, meta) {
                        if (data != null) {
                            var fecha = FormatDate(data);
                            return fecha;
                        } else {
                            return "";
                        }
                    }
                },
                { "data": "SetpointAC" },
                { "data": "SetpointT" },
                { "data": "Modem" },
                { "data": "CO2Ext" },
                { "data": "TemperaturaExt" },
                { "data": "AperturaPuerta" }
                ],
                columnDefs: [
                   {
                       "targets": [1, 2],
                       "visible": false,
                   }
                ],
            });
        } else {
            var table = $("#Tb_Servicios").DataTable({
                orderCellsTop: true,
                fixedColumns: {
                    leftColumns: 4
                },
                scrollX: true,
                pageLength: 15,
                ajax: {
                    metodo: 'POST',
                    url: '@Url.Action("GetServicios", "Servicio")',
                    dataType: 'json',
                    dataSrc: ''
                },
                columns: [
                {
                    data: "IdServicio",
                    className: "hidden"

                },
                {
                    data: null,
                    className: "center",
                    defaultContent: '<i id="OkServicio" class="fa fa-check-square fa-3x" style="color:limegreen"></i>'
                },
                {
                    data: null,
                    className: "center",
                    defaultContent: '<i id="OkServicio" class="fa fa-check-square fa-3x" style="color:limegreen"></i>'
                },
                {
                    //targets: -1,
                    data: null,
                    className: "center",
                    defaultContent: '<i id="DetailServicio" class="fa fa-search fa-2x"></i>'
                },
                { "data": "Contenedor" },
                { "data": "Booking" },
                { "data": "Commodity" },
                { "data": "Naviera" },
                { "data": "Nave" },
                { "data": "PuertoOrigen" },
                { "data": "PuertoDestino" },
                {
                    "data": "EtaPuerto",
                    "render":
                    function (data, type, row, meta) {
                        if (data != null) {
                            var fecha = FormatDate(data);
                            return fecha;
                        } else {
                            return "";
                        }
                    }
                },
                { "data": "SetpointAC" },
                { "data": "SetpointT" },
                { "data": "Modem" },
                { "data": "CO2Ext" },
                { "data": "TemperaturaExt" },
                { "data": "AperturaPuerta" }
                ],
                columnDefs: [
                   {
                       "targets": [1, 2],
                       "visible": false,
                   }
                ],
            });
        }

        $(table.table().container()).on('keyup', 'thead input', function () {
            table
           .column(($(this).data('index')) + 4)
           .search(this.value)
           .draw();

        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetContadores", "Servicio")',
            success: function (response) {
                var data = [];
                //var json = JSON.parse(response);
                data.push([response.ContadorModem,
                            response.ContadorControlador,
                            response.ContadorCO2,
                            response.ContadorTemperatura,
                            response.ContadorLuz,
                            response.ContadorTotal]);

                var table = $('#Tb_Servicios_Totalizador').DataTable({
                    data: data,
                    dom: 't',
                    fixedColumns: false,
                    scrollY: false,
                    scrollX: false,
                    scrollCollapse: false,
                    paging: false,
                    orderCellsTop: true
                });

                $(table.table().container()).on('keyup', 'thead input', function () {
                    table
                        .column($(this).data('index'))
                        .search(this.value)
                        .draw();
                });

            }
        });

    });

    ocultoIdServicio();

    google.maps.event.addDomListener(window, 'load', initialize);

    // Dadas la division que contiene todas las pestañas y la de la pestaña que se
    // quiere mostrar, la funcion oculta todas las pestañas a excepcion de esa.

    $("#pestana1").on('click', function () {
        $('#cpestana1').show();
        $('#cpestana2').hide();

        $('#pestana1').css('font-weight', 'bold');
        $('#pestana2').css('font-weight', 'normal');
        $('#pestana1').css('background-color', '#e2f0fb');
        $('#pestana2').css('background-color', 'transparent');
        $('#pestana1').css('border', '1px solid #C3C3C3');
        $('#pestana2').css('border', 'transparent');


        $(document).ready(function () {
            $('#cpestana1').css('display', '');
            $('#pestana1').css('padding-bottom', '2px');
        });
    });

    $("#pestana2").on('click', function () {

        $('#cpestana1').hide();
        $('#cpestana2').show();

        $('#pestana2').css('font-weight', 'bold');
        $('#pestana1').css('font-weight', 'normal');
        $('#pestana2').css('background-color', '#e2f0fb');
        $('#pestana1').css('background-color', 'transparent');
        $('#pestana2').css('border', '1px solid #C3C3C3');
        $('#pestana1').css('border', 'transparent');

        $(document).ready(function () {
            $('#cpestana2').css('display', '');
            $('#pestana2').css('padding-bottom', '2px');

            $.ajax({
                type: "POST",
                url: '@Url.Action("SetTrazabilidadVista", "Trazabilidad")',
                dataType: 'json',
                dataSrc: '',
                data: {
                    TipoVista: 1,
                    NombreVista: 'CLICKPESTAÑA-VISTAMAPA'
                }
            });

        });
    });



    $("#FiltroMapa").on('click', function () {

        $.ajax({
            metodo: 'POST',
            url: '@Url.Action("GetServiciosMapaFiltros", "Servicio")',
            dataType: 'json',
            dataSrc: '',
            data: {
                contenedor: $("#ListaContenedor").val(),
                naviera: $("#ListaNaviera").val(),
                booking: $("#Booking").val(),
                nave: $("#ListaNave").val(),
                porigen: $("#ListaPuertoOrigen").val(),
                pdestino: $("#ListaPuertoDestino").val(),
                commodity: $("#ListaCommodity").val(),
                etapuerto: $("#EtaPod").val(),
            },
            success: function (datos) {

                // Configuración del mapa
                var latlngCenter = new google.maps.LatLng(0, 0);

                var mapProp = {
                    zoom: 3,
                    center: latlngCenter,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,    //puede ser TERRAIN
                    disableDefaultUI: true,
                    zoomControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    fullscreenControl: true
                };
                // se supone que aqui debiera mostrar info el marker
                var contentString = '';

                // Agregando el mapa al tag de id googleMap
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                for (var dato in datos) {
                    if (datos.hasOwnProperty(dato)) {
                        latlng = new google.maps.LatLng(datos[dato].Latitud, datos[dato].Longitud);
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map,
                            //title: 'Containers grupo ',
                            draggable: false
                        });
                        marker.setMap(map);
                    }
                }
            },
            error: function () { alert("Error de lectura"); }
        });

    });

    $("#EliminarFiltros").on('click', function () {

        $("#ListaContenedor").val(0);
        $("#ListaNaviera").val(0);
        $("#Booking").val('');
        $("#ListaNave").val(0);
        $("#ListaPuertoOrigen").val(0);
        $("#ListaPuertoDestino").val(0);
        $("#ListaCommodity").val(0);
        $("#EtaPod").val(0);

        $("#ListaContenedor").selectpicker('refresh');
        $("#ListaNaviera").selectpicker('refresh');
        $("#Booking").selectpicker('refresh');
        $("#ListaNave").selectpicker('refresh');
        $("#ListaPuertoOrigen").selectpicker('refresh');
        $("#ListaPuertoDestino").selectpicker('refresh');
        $("#ListaCommodity").selectpicker('refresh');
        $("#EtaPod").selectpicker('refresh');

        $('#FiltroMapa').trigger('click');

    });

    function initialize() {

        // Configuración del mapa
        var latlngCenter = new google.maps.LatLng(0, 0);

        var mapProp = {
            zoom: 3,
            center: latlngCenter,
            mapTypeId: google.maps.MapTypeId.ROADMAP,    //puede ser TERRAIN
            disableDefaultUI: true,
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            fullscreenControl: true
        };
        // se supone que aqui debiera mostrar info el marker
        var contentString = '';

        // Agregando el mapa al tag de id googleMap
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        // Lectura y carga de markers en Mapa
        var latlng = '';
        $.ajax({
            metodo: 'POST',
            url: '@Url.Action("GetMapa", "Servicio")',
            dataType: 'json',
            dataSrc: '',
            success: function (datos) {
                for (var dato in datos) {
                    if (datos.hasOwnProperty(dato)) {
                        latlng = new google.maps.LatLng(datos[dato].Latitud, datos[dato].Longitud);
                        crearMarket(latlng, datos[dato].IdUbicacion);
                    }
                }
            },
            error: function () { alert("Error de lectura"); }
        });

        @*$.ajax({
            metodo: 'POST',
            url: '@Url.Action("GetMapaMarineTraffic", "Servicio")',
            dataType: 'json',
            dataSrc: '',
            success: function (datos) {
                for (var dato in datos) {
                    if (datos.hasOwnProperty(dato)) {
                        latlng = new google.maps.LatLng(datos[dato].Latitud, datos[dato].Longitud);
                        crearMarket(latlng, datos[dato].IdUbicacion);
                    }
                }
            },
            error: function () { alert("Error de lectura"); }
        });*@


        // Crear Marcador
        function crearMarket(latlng, name) {

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                //title: 'Containers grupo ' + name,
                draggable: false
            });

            /*google.maps.event.addDomListener(map, 'click', function () {
                infoWindow.close();
            });

            google.maps.event.addDomListener(marker, 'click', function () {
                var contentString = '';
                //var markerLatLng = marker.getPosition();
                contentString = '<div class="infoWindow"> <div class="row"> <table id="Tb_Servicios_Map" class="table table-striped table-bordered display nowrap">' +
                '<thead> <tr> <th class="tr" key="alertacalidad">ALERTA DE CALIDAD</th><th class="tr" key="alertalogistica">ALERTA LOGISTICA</th> <th class="tr" key="detalleservicio">DETALLE</th> <th class="tr" key="contenedorservicio">CONTENEDOR</th> <th class="tr" key="bookingservicio">BOOKING</th> <th class="tr" key="commodityservicio">COMMODITY</th> <th class="tr" key="navieraservicio">NAVIERA</th> <th class="tr" key="naveservicio">NAVE</th> <th class="tr" key="puertoorigenservicio">PUERTO ORIGEN</th> <th class="tr" key="puertodestinoservicio">PUERTO DESTINO</th> <th class="tr" key="etapodservicio">ETA POD</th> <th class="tr" key="setpointacservicio">SETPOINT AC</th> <th class="tr" key="setpointservicio">SETPOINT TEMPERATURA</th> <th class="tr" key="modemservicio">MODEM LIVENTUS</th> <th class="tr" key="co2externo">CO2 EXTERNO</th> <th class="tr" key="tempexterna">TEMPERATURA EXTERNA</th> <th class="tr" key="sensorluz">SENSOR APERTURA PUERTA</th>' +
                '</tr> </thead> <tbody> <tr> <td><i id="AlertRedCalidad" onclick="calidadAlertRedMap()" class="fa fa-exclamation-circle fa-3x" style="color:red "></i></td> <td><i id="AlertYellowLogistica" onclick="logisticaAlertYellowMap()" class="fa fa-exclamation-circle fa-3x" style="color:yellow "></i></td> <td><i id="DetailServicioRojo" onclick="detailServicioRojoMap()" class="fa fa-search fa-2x"></i></td> <td>SEGU9431841</td> <td>070ISA0770861</td> <td>AVOCADOS</td> <td>MSC</td> <td>MSC AVNI</td> <td>VALPARAISO</td> <td>SAVANNAH</td> <td>31-07-2019</td> <td>12% CO2</td> <td>5°C</td> <td>SI</td> <td>SI</td> <td>SI</td> <td>NO</td> </tr>' +
                '<tr> <td><i id="AlertYellowCalidad" onclick="calidadAlertYellowMap()" class="fa fa-exclamation-circle fa-3x" style="color:yellow "></i></td> <td><i id="OkServicio" class="fa fa-check-square fa-3x" style="color:limegreen "></i></td> <td><i id="DetailServicio" onclick="detailServicioMap()" class="fa fa-search fa-2x"></i></td> <td>TEMU9384875</td> <td>087LIM328206</td> <td>AVOCADOS</td> <td>MSC</td> <td>MSC AVNI</td> <td>VALPARAISO</td> <td>SAVANNAH</td> <td>31-07-2019</td> <td>8% CO2</td> <td>5°C</td> <td>SI</td> <td>SI</td> <td>SI</td> <td>NO</td> </tr> </tbody> </table> </div> </div>';

                var infoWindow = new google.maps.InfoWindow();
                infoWindow.setContent(contentString);
                infoWindow.open(map, this);

            });*/

            marker.setMap(map);
        }

        // Pop-up  CalidadAlertaRoja
        $('#Tb_Servicios tbody').on('click', '#AlertRedCalidad', function () {
            $('#CalidadAlertaRoja').trigger('click');
        });

        // Pop-up  CalidadAlertaAmarilla
        $('#Tb_Servicios tbody').on('click', '#AlertYellowCalidad', function () {
            $('#CalidadAlertaAmarilla').trigger('click');
        });

        // Pop-up  LogisticaAlertaAmarilla
        $('#Tb_Servicios tbody').on('click', '#AlertYellowLogistica', function () {
            $('#LogisticaAlertaAmarilla').trigger('click');
        });

        // DetalleServicio -> href
        $('#Tb_Servicios tbody').on('click', '#DetailServicio', function (e) {  //replicar para todos los llamados
            e.preventDefault();
            var valor = $(this).parents("tr").find("td").html();
            var url = '@Url.Action("DetalleServicioView", "Servicio")?IdServicio=' + valor;
            window.location.href = url;
        });

        $(document).on('click', '#DetailServicio', function () {  //replicar para todos los llamados
            var valor = $(this).parents("tr").find("td").html();
            var url = '@Url.Action("DetalleServicioView", "Servicio")?IdServicio=' + valor;
            window.location.href = url;
        });

        // DetalleServicio -> href
        $('#Tb_Servicios tbody').on('click', '#DetailServicioRojo', function () {
            var url = '@Url.Action("DetalleServicioRojoView", "Servicio")';
            window.location.href = url;
        });

    }

    // Inicializando el mapa cuando se carga la página


    function FormatDate(data) {
        var dateString = data.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();

        if (month < 10) {
            month = "0" + month;
        } else {
            month;
        }

        if (day < 10) {
            day = "0" + day;
        } else {
            day;
        }

        var date = day + "-" + month + "-" + year;
        return date;
    }


    ///////REVISAR ESTA redAlert
    function redAlert() {

        $('#Tb_Servicios_Map tbody').on('click', '#AlertRedCalidadMap', function () { $('#CalidadAlertaRoja').trigger('click'); });
        $('#Tb_Servicios_Map tbody').on('click', '#AlertYellowCalidadMap', function () { $('#CalidadAlertaAmarilla').trigger('click'); });
        $('#Tb_Servicios_Map tbody').on('click', '#AlertYellowLogisticaMap', function () { $('#LogisticaAlertaAmarilla').trigger('click'); });
        $('#Tb_Servicios_Map tbody').on('click', '#DetailServicioMap', function () {
            var url = '@Url.Action("DetalleServicioView", "Servicio")'//?IdServicio=' + this.$("#idservicio").val();
            window.location.href = url;
        });
        $('#Tb_Servicios_Map tbody').on('click', '#DetailServicioRojoMap', function () { var url = '@Url.Action("DetalleServicioView", "Servicio")'; window.location.href = url; });

    }

    function myFunctionCalidad() {
        var x = document.getElementById("pasado-calidad");
        if (x.style.display === "none") {
            x.style.display = "";
            $('#ver-ocultar-cal').text('Ver menos ...');
            e.preventDefault();
        } else {
            x.style.display = "none";
            $('#ver-ocultar-cal').text('Ver más ...');
            e.preventDefault();
        }
    }

    function myFunctionLogistica() {
        var x = document.getElementById("pasado-logistica");
        if (x.style.display === "none") {
            x.style.display = "";
            $('#ver-ocultar-log').text('Ver menos ...');
            e.preventDefault();
        } else {
            x.style.display = "none";
            $('#ver-ocultar-log').text('Ver más ...');
            e.preventDefault();
        }
    }

    // Pop-up  MapaCalidadAlertaRoja
    function calidadAlertRedMap() {
        $('#CalidadAlertaRoja').trigger('click');
    }

    // Pop-up  MapaCalidadAlertaAmarilla
    function calidadAlertYellowMap() {
        $('#CalidadAlertaAmarilla').trigger('click');
    }

    // Pop-up  MapaLogisticaAlertaAmarilla
    function logisticaAlertYellowMap() {
        $('#LogisticaAlertaAmarilla').trigger('click');
    }

    //  MapaDetalleServicio -> href
    function detailServicioMap() {
        var url = '@Url.Action("DetalleServicioView", "Servicio")'//?IdServicio=' + this.$("#idservicio").val();;
        window.location.href = url;
    }

    //  MapaDetalleServicio -> href ----------------------------------------
    function detailServicioRojoMap() {
        var url = '@Url.Action("DetalleServicioRojoView", "Servicio")';
        window.location.href = url;
    }

    function cargaMantenedores() {

        //OBTENER NAVIERAS
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetNavierasActivas", "Mantenedor")',
            success: function (response) {
                var data = [];
                var json = JSON.parse(response);
                var cuenta = json.length;
                var optionsAsString = "";
                if (lenguaje == "es") {
                    optionsAsString += "<option value='0'> TODAS</option>";
                } else {
                    optionsAsString += "<option value='0'> ALL</option>";
                }
                for (var i = 0; i < cuenta; i++) {
                    optionsAsString += "<option value='" + json[i].Id + "'>" + json[i].Nombre + "</option>";
                }
                $('#ListaNaviera').append(optionsAsString);
                $('#ListaNaviera').selectpicker('refresh');
            },
        });
        //OBTENER NAVIERAS

        //OBTENER COMMODITY
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCommodityActivo", "Mantenedor")',
            success: function (response) {
                var data = [];
                var json = JSON.parse(response);
                var cuenta = json.length;
                var optionsAsString = "";
                if (lenguaje == "es") {
                    optionsAsString += "<option value='0'> TODOS</option>";
                } else {
                    optionsAsString += "<option value='0'> ALL</option>";
                }

                $('#ListaCommodity').empty();

                for (var i = 0; i < cuenta; i++) {
                    optionsAsString += "<option value='" + json[i].Id + "'>" + json[i].Nombre + "</option>";
                }
                $('#ListaCommodity').append(optionsAsString);
                $('#ListaCommodity').selectpicker('refresh');
            },
        });
        //OBTENER COMMODITY

        //OBTENER CONTENEDORES
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetContenedores", "Mantenedor")',
            data: { Estado: "1" },
            async: false,
            success: function (response) {
                var data = [];
                var json = JSON.parse(response);
                var cuenta = json.length;
                var optionsAsString = "";
                if (lenguaje == "es") {
                    optionsAsString += "<option value='0'> TODOS</option>";
                } else {
                    optionsAsString += "<option value='0'> ALL</option>";
                }
                $('#ListaContenedor').empty();

                for (var i = 0; i < cuenta; i++) {
                    optionsAsString += "<option value='" + json[i].IdContenedor + "'>" + json[i].NumeroContenedor + "</option>";
                }
                $('#ListaContenedor').append(optionsAsString);
                $('#ListaContenedor').selectpicker('refresh');
            },
        });
        //OBTENER CONTENEDORES

        //OBTENER PUERTOS ORIGEN
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPuertoOrigen", "Mantenedor")',
            success: function (response) {
                var data = [];
                var json = JSON.parse(response);
                var cuenta = json.length;
                var optionsAsString = "";
                if (lenguaje == "es") {
                    optionsAsString += "<option value='0'> TODOS</option>";
                } else {
                    optionsAsString += "<option value='0'> ALL</option>";
                }
                for (var i = 0; i < cuenta; i++) {
                    if (json[i].Id != 0) {
                        optionsAsString += "<option value='" + json[i].Id + "'>" + json[i].Nombre + " - " + json[i].NombreCiudad + "</option>";
                    }
                }

                $('#ListaPuertoOrigen').append(optionsAsString);
                $('#ListaPuertoOrigen').selectpicker('refresh');
            },
        });
        //OBTENER PUERTOS ORIGEN

        //OBTENER PUERTOS DESTINO
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPuertoDestino", "Mantenedor")',
            success: function (response) {
                var data = [];
                var json = JSON.parse(response);
                var cuenta = json.length;
                var optionsAsString = "";
                if (lenguaje == "es") {
                    optionsAsString += "<option value='0'> TODOS</option>";
                } else {
                    optionsAsString += "<option value='0'> ALL</option>";
                }
                for (var i = 0; i < cuenta; i++) {
                    if (json[i].Id != 0) {
                        optionsAsString += "<option value='" + json[i].Id + "'>" + json[i].Nombre + " - " + json[i].NombreCiudad + "</option>";
                    }
                }

                $('#ListaPuertoDestino').append(optionsAsString);
                $('#ListaPuertoDestino').selectpicker('refresh');
            },
        });
        //OBTENER PUERTOS DESTINO

        //OBTENER NAVES
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetNaves", "Mantenedor")',
            success: function (response) {
                var data = [];
                var json = JSON.parse(response);
                var cuenta = json.length;
                var optionsAsString = "";
                if (lenguaje == "es") {
                    optionsAsString += "<option value='0'> TODAS</option>";
                } else {
                    optionsAsString += "<option value='0'> ALL</option>";
                }
                for (var i = 0; i < cuenta; i++) {
                    if (json[i].IdNave != 0) {
                        optionsAsString += "<option value='" + json[i].IdNave + "'>" + json[i].NombreNave + "</option>";
                    }
                }
                $('#ListaNave').append(optionsAsString);
                $('#ListaNave').selectpicker('refresh');
            },
        });
        //OBTENER NAVES

    }







</script>

